<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.whomade.kycarrots">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission
        android:name="android.permission.PROCESS_OUTGOING_CALLS"
        android:required="true" /> <!-- GCM 사용을 위해 추가 되는 permission -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".KycarrotsApp"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/android_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.ad.ImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.buy.ItemSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdDetailActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whomade.kycarrots.MainActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:configChanges="screenSize|smallestScreenSize|orientation"
            android:theme="@style/AppTheme.UCrop" />
        <activity
            android:name=".ui.ad.makead.MakeADMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ad.makead.MakeADPreviewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.dialog.DlgBtnActivity" />
        <activity
            android:name=".loginout.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="kakao7cfedd989e5e9c768c1f70d85ece26e2"
                    android:host="oauth"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".dialog.DlgBtnActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".loginout.FindEmailPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".membership.TermsAgreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dialog.DlgFirstPhoneNumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chatting.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".membership.MembershipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Noti.NotificationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".membership.TermsZoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webview.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginout.OnboardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ad.makead.KtMakeADMainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <service
            android:name=".message.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>